body {
	color: #34425A;
}

.navbar, .subnavbar, .toolbar {
	background: #34425A;
}

.floating-button {
	background-color: #22BAA0;
}
.product {
	font-size: 14px;
	margin-left: 10px;
}

.product-quantity {
	margin: 0 20px 0 20px;
}

.tabbar-labels span.tabbar-label {
	margin-top: 0px;
}

.order-total-price {
	margin-left: 5px;
	font-weight: 400;
	font-size: 90%;
}

.order-total-price i {
	font-size: 70%;
}

.notifications .button.close-notification {
	color: #22BAA0;
}

.modal-title+.modal-text {
	font-size: 130%;
	color: #34425A;
}

.modal-title {
	color: #34425A;
}

.modal-inner {
	padding: 24px 24px 10px;
}

.total-cost {
	float: right;
}

.products-list li {
	background-color: #E9EDF2;
}

.product-price {
	font-size: 120%;
	font-weight: 500;
}

.button.button-fill {
    background-color: #22BAA0;
    color: #fff;
}

.left-side-menu li a {
	padding-left: 0px !important;
}

.current-order .list-block{
	margin-top: -5px;
}

.current-order .inputs-list input {
	text-align: center;
}

.order-product .action3{
	background-color: #ff0000 !important;
}