#product {
	width: 100%; cellspacing: 0;
}

.sweet-alert {
	border-radius: 0px;
}

.sweet-alert button {
	border-radius: 0px;
}

.delete-product-category {
	cursor: pointer;
}

.page-footer a:hover {
	text-decoration: none;
}

#shifts tr td:last-child {
	text-align: center;
	cursor: pointer;
}

.panel .panel-heading {
	padding: 15px;
}
.order-timer {
	font-size: 130%;
}

.order-summary {
	font-size: 120%;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-thumb {
	background: rgba(34,186,160,0.8); 
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}